/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head-planing {
    text-align: center;
    background-color: #EA5B0C;
    padding: 10px;
    margin-bottom: 5px;
}
.head-planing h2 {
    color: #222;
}
.head-planing #coach_name {
    font-weight: bold;
    color: #f5f5f5;
    font-size: 20px;
}
.head-planing #coach_name::before {
    content: 'Coach: ';
    font-weight: 400;
}
.corp-planing {
    position: relative;
    display: grid;
    background: white;
    min-height: 400px;
    padding: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.container-planing {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(33, 1fr);
    grid-template-rows: 1fr [Monday] 1fr [Tuesday] 1fr [Wednesday] 1fr [Thursday] 1fr [Friday] 1fr [Saturday] 1fr [Sunday] 1fr;
}
.container-planing .item {
    font-size: 11px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.monday {
    grid-column-start: 1;
    grid-row-start: Monday;
}
.tuesday {
    grid-column-start: 1;
    grid-row-start: Tuesday;
}
.wednesday {
    grid-column-start: 1;
    grid-row-start: Wednesday;
}
.thursday {
    grid-column-start: 1;
    grid-row-start: Thursday;
}
.friday {
    grid-column-start: 1;
    grid-row-start: Friday;
}
.saturday {
    grid-column-start: 1;
    grid-row-start: Saturday;
}
.sunday {
    grid-column-start: 1;
    grid-row-start: Sunday;
}
.day-week {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* border: 1px solid #ccc; */
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    vertical-align: middle;
}
.seances {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ee8ebc, #eea08e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
  font-weight: 600;
  color: #222;
}